@tailwind base;
@tailwind components;
@tailwind utilities;

.mapClass{
  color: brown;
  font-size: 30px;
  background-color: rgba(255,155,55, 1);
  text-align: center;
  padding: 0px;
  margin:0px;
  border-radius: 10px;
  max-width: 600px;
  box-shadow: 0px 0px 5px brown;
  font-family: cursive;
}

.mapContClass{
  color: brown;
  font-size: 30px;
  background-color: rgba(255,155,55, 1);
  text-align: center;
  padding: 0px;
  margin:20px;
  border-radius: 20px;
  max-width: 600px;
  border: 10px solid #eea;
}

#root{
  display: flex;
  flex-direction: row;
  width:100%;

}

::-webkit-scrollbar {
  scrollbar-width: auto;
  scrollbar-color: #888 #f1f1f1;
}