@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,body,#root{
  min-height:100svh;
  margin: 0;
}

.main{
  height:100%;
  width:100%;
  position:relative;
}
#nav{
  height:100px;
  width: 94vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0 3vw;
  background-color:white;
  color:black;
  border-bottom: 2px solid grey;
}
.nav-part2{
  display: flex;
  gap:4vw;
  font-size: larger;
  cursor: pointer;
}

@media (max-width:600px) {
  #nav{
      font-size:3vw;
      padding:0 2vw;
      width:96vh;
      height:70px;
  }
  #nav h5{
      display: none;
  }
  .nav-part2{
      display: flex;
      align-items: center;
      gap:4vw;
  }
  .content{
      min-height:calc(100% - 72px);
      width:100%;
      background-color: burlywood;
  }
  
}

.content{
  height:calc(100% - 102px);
  width:100%;
  background-color: burlywood;
}